
:root{
  --first-bg-color: #4D5AE5;
  --bg-color: #404BBF;
  --titli-text-color:#2E2F42;
  --color-social: #31D0AA;
  --primary-text-color: #434455;
  --color-grau: #8e8f99;
  --cecond-tx-color: #E7E9FC;
  --second-bg-color:#F4F4FD;
  --accent-color:#FFFFFF;
  --color-background-primary:#FFFFFF;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type:none ;
}
p,h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0px;
}
  
img{
  max-width: 100%;
 height: auto;
 display: block;
 object-fit: cover;
}
body{
  color:var(--primary-text-color) ;
  background-color:var(--accent-color);
  font-family:'Roboto',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/*   HEADAR    */
.webstudio-stayll{
  text-decoration:none ;
  font-family:'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height:1.33; 
  letter-spacing:0.03em;
  text-transform: uppercase;
}
.header{
  border-bottom:1px solid var(--cecond-tx-color);
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media( max-width: 767px){

}
@media( min-width: 768px){

}
@media( min-width: 1200px){

}
@media( max-width: 1199px){

}



.header-web{
  color:var(--first-bg-color);
}
.header-studio{
  color: #000;
}
.container{
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px ;
}
.container-section-fon{
  display: flex;
    max-width: 100%;
    gap: 24px;
}
.header-container{
  display: flex;
  align-items: center;
}
@media( min-width: 768px){
  .header-container{
    display: flex;
    align-items: center;
    
  }
}


.section-hider-our{
  flex-basis:calc((100%-72px)/4);
}
.header-nav{
  display: flex;
  align-items: center;
  gap: 76px; 
}

.address-all{
  margin-left: auto;
}
.header-menu-nav{
  display: flex;
  gap: 40px;
}
@media( max-width: 768px){
  .header-menu-nav{
    display: none;
  }
}
.header-menu{
  display: flex;
  gap: 40px;
}
@media( max-width: 1199px){
  .header-menu{
    flex-direction: column;
    gap: 6px;
    padding: 0px;
  }
}


.header-link{
  text-decoration:none ;
  color:var(--titli-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height:1.5;
  padding-top: 25px;
  padding-bottom: 25px;
  letter-spacing: 0.02em;
  display: block;
position: relative;
transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.carent::after{
  position: absolute;
  bottom: -1px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color:currentColor; 
  content:'' ;
  color:var(--bg-color);
}
.header-link:hover,
.header-link:focus {
color:var(--bg-color);
}
.carent{
color: var(--bg-color);
}
.header-address:last-child{
  text-decoration:none ;
  color:var(--primary-text-color);
   letter-spacing: 0.02em;
   font-style: normal;
   padding: 24px 0px;
   display: block;
   transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
   }
   @media( max-width: 1199px){
    .header-address:last-child{
      padding: 0px;
    }
  }


  .header-address:last-child:hover,
  .header-address:last-child:focus{
    color: var(--bg-color); 
  }


  /* MAIN CONTENT  */


.maim-stayl{
  padding: 188px 0;
  text-align: center;
  background-color: var(--titli-text-color);
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
   url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size:cover;
  max-width: 1440px;
  margin: auto;
} 
 
.main-title {
  color:var(--accent-color);
  font-weight: 500;
  font-size: 56px;
  line-height:1.07;
  letter-spacing:0.02em;
  margin-bottom: 48px;
  text-align: center;
  font-style: normal;
}
.test-button {
background-color:var(--first-bg-color);
color:var(--cecond-tx-color);
border-radius: 4px;
font-family:inherit;
letter-spacing:0.04em;
font-size:16px;
line-height:1.5;
cursor: pointer;
padding: 16px 32px;
font-weight: 500;
border: 1px solid  transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);;
}
.test-button:hover,
.test-button:focus {
background-color: var(--bg-color);
}
.section{
 padding-top: 120px;
}
.section-doing{
  padding-top:  120px;
  padding-bottom: 120px;
}
@media( max-width: 1199px){
  .section-doing{
    display: none;
  }
}


.secteon{
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.hidden-container{
  display: flex;
  gap: 24px;
}
.section-decor a {
  text-decoration: none; 
}
.section-decor{
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.section-decor-ferst{
  flex-basis:calc((100% - 48px) / 3);
}
.section-decor-shad{
  display: block;
  transition:box-shadow 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.decor-pfoto{
  padding:  32px 16px;
  border: 1px solid var(--cecond-tx-color);
  border-top: none; 
}
.decor-description{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--first-bg-color) ;
  color: var(--second-bg-color);
  transform: translateY(100%);
  transition: transform 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-decor-shad:hover
.decor-description{
  transform: translateY(0);
}
.decor-imge{
position: relative;
overflow: hidden;
}
.decor-imge-info{
  width: 296px;
  height: 96px;
  text-align: left;
  padding-left: 32px;
  padding-top:  40px; 
}
.section-decor-shad:hover{
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); ;
}
.section-title{
  color:var(--titli-text-color); 
   font-weight: 500;
   font-size: 20px;
   line-height:1.2;
   letter-spacing:0.02em;
   margin: 0 auto;
   text-align: center;
}
.section-title-our{
  color:var(--titli-text-color); 
   font-weight: 500;
   font-size: 20px;
   line-height:1.2;
   letter-spacing:0.02em;   
}
@media( max-width: 1199px){
  .section-title-our{
    color:var(--titli-text-color); 
   font-weight: 700;
   font-size: 36px;
   line-height:1.2;
   letter-spacing:0.02em;   
  }
}

.section-title-pfoto{
  color:var(--titli-text-color); 
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;  
}
.section-text-pfoto{
  color:var(--primary-text-color);
  font-size: 16px;
  line-height:1.5;
  letter-spacing:0.02em;
  margin-top: 8px;
}
.section-text-our{
  color:var(--primary-text-color);
 font-size: 16px;
 line-height:1.5;
 letter-spacing:0.02em;
 margin-top: 8px;
 }
.section-text{
 color:var(--primary-text-color);
 font-size: 16px;
 line-height:1.5;
 letter-spacing:0.02em;
text-align: center;
margin-top: 8px;
}
.section-styl{
  color:var(--titli-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height:1.33;
   letter-spacing:0.02em;
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 72px;
}
.doing-container{
  display: flex;
  gap: 24px;
}
.about-piple{
  background-color:var(--second-bg-color);
}
.team-container{
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 24px; 
}
.section-team{
background-color:var(--second-bg-color); 
padding: 120px 0;
}


/* cоц сети */
.social-list{
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.social-icon {
width: 16px;
height: 16px;
fill: var(--color-background-primary);
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--first-bg-color);
  border-radius:50%; 
  transition:background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1); ;
}

/*  FOOTER    */
.footer-stayl{
background-color:var(--titli-text-color);
 gap: 120px;
 padding-top: 100px;
 padding-bottom: 100px;   
}
.footer-stayl .container{
  display: flex;
}
.section-fon{
  background-color:var(--accent-color);
 flex-basis:calc((100% - 72px) / 4);
 border-radius:  0px 0px 4px 4px;
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.total-info{
text-align: center;
padding-top: 32px;
padding-bottom: 32px;
}
.webstudio-stayll{
  color:var(--accent-color);
   font-family:'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height:1.16;
   letter-spacing:0.03em; 
}
.footer-studio{
  color:var(--accent-color); 
}
.footet-web{
  color:var(--first-bg-color);
}
.footer-text{
  color:var(--cecond-tx-color) ;
   font-size: 16px;
   line-height:1.5;
   letter-spacing:0.02em;
   width: 264px;  
   margin-top: 16px;
}

.button-secondary{
  background-color:var(--second-bg-color);
  color:var(--first-bg-color);
  border-radius: 4px;
   font-family:'Roboto', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height:1.5;
   cursor: pointer;
   letter-spacing:0.04em ;
   padding: 12px 24px;
   height: 48px;
   border: 1px solid var(--cecond-tx-color);
   transition-property:background-color,color, border-color, box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
} 
.button-secondary:hover,
.button-secondary:focus{
  background-color:var(--first-bg-color);
  color: var(--accent-color);
  border-color: transparent;
  box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 2px 1px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.button-menu{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;    
}
.customers-container{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-itam{
 width: 168px; 
 height: 88px; 
}
.customers-link{
  display: flex;
 width: 100%;
  height: 100%;
 justify-content: center;
 align-items: center;
 color: var(--color-grau);
 border: 1px solid var(--color-grau);
 border-radius: 4px;
 transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-cli{
width: 104px;
height: 56px;
fill: currentColor;
}
.section-customers{
  padding-top: 120px;
  padding-bottom: 130px;
}

.customers-link:focus,
.customers-link:hover{
  color:var(--first-bg-color) ;
  border-color:var(--first-bg-color) ;
}
.icon-item{
  width:264px ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px ;
  background-color:var(--second-bg-color);
}
@media( max-width: 1199px){
  .icon-item{
    display: none;
  }
}
.icon-svg{
  width: 64px;
  height: 64px;
}
.Social-footer{
  width: 208px;
  height: 80px;
  margin-left: 120px;
  margin-right: auto;
}
.social-list-footer{
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 8px;
}
.social-icon-footer {
width: 24px;
height: 24px;
fill: var(--second-bg-color);
}
.social-item-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color:var(--primary-text-color);
  border-radius:50%; 
  transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media{
  color: var(--color-background-primary);
}
 .social-link-footer:hover,
 .social-link-footer:focus{
  background-color: var(--color-social);
}
.social-link:hover,
.social-link:focus{
  background-color: var(--bg-color);
}


/*modal*/


.backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0;
 transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 background: rgba(46, 47, 66, 0.4); 
 opacity: 1;
}
.modal{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  width: 408px; 
  height: 584px;
  background-color: #FcFcFc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12), 
   0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius:4px ;
    opacity: 1;
    transition: transform 520ms cubic-bezier(0.4, 0, 0.2, 1);

}
 .modal-close{
  position: absolute;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  border:1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 50%;
  cursor: pointer;
  transition-property: color, background-color;
  background-color: var(--cecond-tx-color);
  color: black;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  }
.backdrop.is-hidden{
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
}
.close-icon{
  width: 8px;
  height: 8px;
  fill: currentColor;
  margin: 0;
 
}
.modal-close:hover, 
.modal-close:focus{
  background-color: var(--first-bg-color);
  color: var(--second-bg-color);
}
.name-modal{
  font-family: inherit;
  font-style: normal;
  width: 360px;
  height: 24px ;
  font-size:16px ;
  font-weight: 500;
  line-height: 1.5;
  text-align:left;
  letter-spacing: 0.02em;
  color: var(--titli-text-color);
  margin-bottom: 16px; 
 }
.contact-form{
  display: block;
}
.label{
  position: relative;
  color: var(--color-grau);
  font-size: 12px;
  line-height: 1.16; 
  gap: 4px;
  flex-direction: column;
  display: flex;
  max-width: 360px;
  margin-bottom: 8px;
}
.form-checkbox{
  margin-bottom: 0;
}
.input-all{
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 16px;
   padding-top: 8px;
   padding-bottom: 8px;
   transition-property: color, border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   outline: 0px;
   color: var(--secondary-text-color);
   padding-left: 38px;
   height: 40px;
}
.contact-form-icon{
  width: 18px;
  height: 24px;
  position: absolute;
  top: 25px;
  left: 16px;
  justify-content: center;
  display: inline-block;
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon{
  width: 18px;
  height: 18px;
}

.textarea{
  resize: none;
  padding-left: 16px;
  height: 120px; 
}
.text-form{
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px;
  color: var(--secondary-text-color);
  padding-left: 16px;
}
.textarea-all{
height: 138px;
}
.rivat-all:checked +.checkbox-icon{
  background-color: #404BBF;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../images/icons.svg);
}
.checkbox-labe{
  color: #2E2F42;
  display: block;
  margin-bottom: 24px;
  margin-top: 16px;
  font-size: 12px;
  position: relative;
  padding-left: 24px;
}
.privacy-policy{
  color: #404BBF;
}
.checkbox-labe, .privacy-policy{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
}
.checkbox-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color:var(--accent-color);
  fill: var(--accent-color);
  position: absolute;
  top: -1px;
  left: 0px;
  border: 1.25px solid var(--titli-text-color);
  border-radius: 2px;
  transition-property: fill, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-all:hover,
.input-all:focus{
  color: var(--titli-text-color);
  border:1.25px solid var(--bg-color); 
  fill: var(--bg-color);
}

.input-all-footer:hover,
.input-all-footer:focus {
  border:1.25px solid var(--bg-color); 
}
.input-all:focus-visible + .contact-form-icon, .input-all:focus + .contact-form-icon {
  fill: var(--bg-color); 
}
.textarea:hover,
.textarea:focus{
  color: var(--titli-text-color);
  border:1.25px solid var(--bg-color); 
}
.button-submit{
  width:  169px;
  height: 56px;
  
}
.button-submit-bloc{
  text-align: center;
}
.rivat{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  font-weight:400 ;
  font-size: 12px;
  margin-top: 16px;
  border:1px solid var(--color-grau);  
}
.rivat-all{
  appearance: none;
  
}

.input-checkbox{
  background-color: #404BBF;
  fill: #4D5AE5;
  margin-right: 8px;
}
.label-textarea-all{
  width: 360px;
  height: 120px; 
  
}
.label-footer{
 width: 75px;
 height: 24px;
 color: var(--accent-color);

}
.input-all-footer{
  background-color: #2E2F42;
  border-radius: 4px;
   border: 1.25px solid var(--color-grau);
   width: 264px;
   height: 40px;
   padding-left: 16px;
   
}
.button-submit-bloc-footer{
  gap: 24px;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.button-footer{
 width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-bg-color);
  color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer{
  fill:currentColor;
  margin-left: 16px;
  width: 24px;
  height: 24px;
}
.button-footer:hover,
.button-footer:focus {
background-color: var(--bg-color);
}

.checkbox-icon::before{
  content:'' ;
  display: inline-block;
  color: #000000;
  border: 1.25px solid var(--titli-text-color);
}
.footer-form-title{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    color: var(--primary-bg-color);
}
.title {
  font-size: 16px;
  color: var(--accent-color);
  line-height: 1.2;
  letter-spacing: 0.02em;
 font-weight: 500;
}
.mail{
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 2;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.form-footer{
 display: flex;
  gap: 24px;
}

